.about-container{
    padding: 0 15rem 4rem 15rem;
    
    background:#fff;
}
b{
    color:#3D455F;
}

.about-header{
    padding: 6rem 6rem 2rem 2rem;
    justify-content: left;
    align-items: center;
    text-align: center;
    font-size: 29px;
    font-style: italic;
    font-family: bold;
    font-weight: 400;
}

.about-bio {
    color: #252e48;
    padding: 0 3rem 2rem 2rem;
    font-size: 23px;
    font-weight: 100;
}


.about-bio-paragraph{
    padding: 1rem 1rem 1rem 1rem;
    text-align: left;
    line-height: 36px;
}
 
@media screen and (max-width: 820px) {
    .about-container {
      padding: 1rem 1rem 1rem 1rem;
      text-align: left;
    }
    .about-header{
        padding: 0 1rem 1rem 1rem;
        text-align: center;
    }

    .about-bio{
        padding: 1rem;
        margin-bottom: 1rem;
    }

    
  }
  
  @media screen and (max-width: 768px) {
  }